/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 6, 2024, 6:14:31 PM
    Author     : HP
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin-top: 20px;
    
    border-radius: 10px;
    padding: 30px 50px;
}
.general__header{
    margin-bottom: 10px;
    
}
.general__label{
    margin-bottom: 8px;
}
.general__info{
    font-weight: 500;
    margin-bottom: 8px;
}

.personal__wrapper{
    
}
.personal__remind{
    color: red;
    opacity: 0.8;
    font-size: 14px;
    font-style: italic;
}
.personal__title{
    font-weight: 500;
}
.personal__group input{
    outline: none;
    padding: 4px 12px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #3f3f3f;
    font-size: 14px;
    height: 34px;
    transition: 0.4s;
}
.personal__group input:focus{
    border: 1px solid #BBE2EC;
}
.personal__country{
    outline: none;
    padding: 4px 12px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #3f3f3f;
    font-size: 14px;
    height: 34px;
}
.personal__country select {
    
}
.personal__group{
    margin: 10px 0;
}
.personal__group label{
    margin-bottom: 10px;
}
.personal__submit{
    background-color: #0079FF;
    color: #fff;
    border: none;
    border-radius: 14px;
    margin-left: 10px;
    font-size: 14px;
    padding: 10px 20px;
    margin-top: 10px;
    font-weight: 600;
}
.sailor__container{
    height: 678px;
    justify-content: center;
    align-items: center;
}
.sailor{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-left: 130px;
}
.personal__change{
    background-color: #0079FF;
    color: #fff;
    border: none;
    border-radius: 14px;
    margin-left: 10px;
    font-size: 14px;
    padding: 10px 20px;
    margin-top: 10px;
    font-weight: 600;
}

