/*index*/
.nav_bg{
    background-color: #f3f4f6;
}
.nav_admin{
    border: 1px;
    border-radius: 0.5rem;
    background-color: #fff;
    padding: 2.5rem;
    margin-top: 1.5rem;
    min-height: 348px;
    
}
/*create*/

/*edit*/
.range{
    display: flex;
    justify-content: center;
    align-items: center;
}