/*.section-step{
    display: flex;
    
}*/
.item{
    margin-top: 1.25rem;
    padding: 1.25rem;
}
.item_info{
    display: flex;
    color: red;
}
.product__amount{  
    font-size: 18px;
    font-weight: 500;
}