*{
    
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    
}
body{
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
.nav{
    width: 100vw;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: static;
    z-index: 10000;
    opacity: 1;;
}
.nav__wrapper{
    height: 100%;
    width: 100%;
    padding: 20px 110px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav__upper{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    
}
.nav__lower{
    width: 100%;
}

.logo__group{
    width: 100%;
    height: 100%;
    text-decoration-line: none;
}
.logo__group img{
    width: 190px;
}
.navigate__items{
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: space-between;
    transform: translateY(3px);
    padding: 0;
}
.nav__item{
    text-align: left;
    width: fit-content;
}
.nav__item:hover .item-border{
    border-bottom: 1.3px solid #0079FF;
    animation: borderSlideFromLeft ease-in-out 0.3s;
}
.active{
    display: block;
}
@keyframes borderSlideFromLeft {
    0%{
        opacity: 0.3;
        width: 0%;
    }
    100%{
        opacity: 1;
        width: 100%;
    }
}
.nav__item a{
    text-decoration: none;
    color: #231f1e;
    font-size: 14px;
    font-weight: 500;
}
.nav__item a i {
    font-size: 13px;
    
}
#search__bar{
    display: none;
}
.navigate__search{
    position: relative;
    width: 40%;
}
.navigate__search input{
    border: 1px solid #231f1e;
    outline: none;
    height: 32px;
    width: 100%;
    padding: 18px 50px 18px 18px;
    border-radius: 20px;
    
}
.navigate__search i {
    position: absolute;
    top: 10px;
    right: 5%;
}
.nav__right{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.nav__search-icon{
    display: none !important;
}
.nav__account,.nav__cart{
    color: #231f1e;
    text-decoration-line: none;
    font-size: 1rem;
    font-weight: 500;   
}
.nav__account:hover span, .nav__cart:hover span{
    color: #0079FF;
    transition: all 0.2s;
}
.nav__account{
    margin-right: 26px;
}
.nav__menu{
    visibility: hidden;
}
.dropdown__container{
    width: 90%;
    height: 190px;
    text-align: center;
    display: none;
    animation: slideDown 0.4s ease;
    visibility: hidden;
    background-color: #fff;
    position: relative;
    z-index: 1;
    border-radius: 30px;
    box-shadow: 2px 5px 23px -1px rgba(69, 68, 68, 0.74);
}

.dropdown__menu{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    padding: 0;
}
.dropdown__element{
    margin-top: 10px;
    width: 100%;
}


.dropdown__element a{
    color: #231f1e;
    text-decoration: none;
    font-size: 18px;
}
.active{
    display: block;
}
@keyframes slideDown {
    from{
        transform: translateY(-30px);
    }
}
@media (max-width: 1174px) {
    .navigate__items{
        display: none;
    }
    .navigate__search{
        width: 50%;
    }
    .nav__menu{
        visibility: visible;
    }
    .nav__menu{
        margin-left: 20px;
    }
    .nav__account span,.nav__cart span{
        display: none;
    }
    .nav__account ,.nav__cart,.nav__menu{
        transform: scale(1.4);
    }
    .nav__right{
        gap: 16px;
    }
    .dropdown__container{
        visibility: visible;
    }
    .banner__header{
        font-size: 50px;
    } 
    .banner__description{
        font-size: 18px;
    } 
    .top-product__item img:hover{
        
        transform: scale(1.04);
    }
    .top-product{
        height: 290px;
    }
    .today-deal__next, .today-deal__previous{
        visibility: hidden;
    }
    .cashback__content h1{
        font-size: 34px;
    }
    .cashback__content button{
        width: 55%;
        padding: 8px 10px;
    }
}
@media (max-width: 992px){
    .top-product{
        height: 600px;
    }
    .today-deal__item{
        width: 230px;
    }
}

@media (max-width: 852px) {
    .navigate__search{
        display: none;
    }
    .nav__search-icon{
        display: block !important;
        font-size: 1.1rem;
        margin-right: 16px;
    }
    .logo__group img{
        width: 200px;
    }
    .nav__wrapper{
        padding: 50px 3%;
    }
    .nav__menu{
        margin: 0 10px 0 20px;
    }
    .banner__bkg{
        display: none;
    }
    .banner__content{
        margin-left: 5%;
    }
    .top-product__item img:hover{
        
        transform: scale(1.01);
    }
    .cashback__img{
        margin-left: 5%;
    }
    .nav{
        height: 84px;
        position: relative;
    }
    
    #search__form{
        position: absolute;
        bottom: -30px;
        width: 100%;
        text-align: center;
        display: none;
        padding: 8px 16px;
        background-color: #fff;
        
    }
    #search__bar{
        display: block;
        width: 100%;
        background-color: transparent;
        border-radius: 10px;
        outline: none;
        padding: 2px 14px;
        border: 1px solid #484545;
    }
    .nav__modal{
        position: absolute;
        width: 300vw;
        height: 400vh;
        background-color: #484545;
        transform: translate(-16px, 10px);
        height: 100vh;
        opacity: 0.6;
        
    }
    .nav__search-icon:last-child{
        position: absolute;
        right: 10px;
        top: 16.5px;
        font-size: 14px;
    }
    
}
@media (max-width: 770px){
    .top-product{
        height: 900px;
    }
    .today-deal__next, .today-deal__previous{
        visibility: hidden;
    }
    .today-deal__info{
        font-size: 12px;
    }
    .cashback__content h1{
        font-size: 26px;
    }
    .cashback__content button{
        width: 90%;
        padding: 8px 10px;
        font-size: 18px;
    }
}
@media (max-width: 768px){
    .today-deal__item{
        width: 240px;
    }
    .cashback__img{
        display: none;
    }
    .cashback__content h1{
        font-weight: 700;
        font-size: 40px;
    }
    .cashback{
        height: 400px;
    }
    .cashback__content{
        width: 70%;
    }
    .nav__right {
        gap: 0;
        
    }
    .nav__right i{
        font-size: 10px;

    }
    .nav__account,.nav__cart{
        font-size: 10px;
       
    }
    
}
@media (max-width: 500px){
    .top-product{
        height: 790px;
    }
    .today-deal__item{
        height: 400px;
        width: 220px;
    }
    .banner__header{
        margin-top: 50px;
    }
    .today-deal__item{
        height: 100%;
    }
}
@media (max-width: 400px){
    .top-product{
        height: 600px;
    }
    .today-deal__price{
        font-size: 10px;
    }
    .today-deal__item{
        width: 180px;
    }
    .today-deal__discount{
        font-size: 8px;
    }
    
}
/*footer*/
footer{
    width: 107vw;
    background-color: #f2f2f2;
    
}
.footer__wrapper{
    width: 100%;
    padding: 40px 0;
}
.footer__fanpage ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
}
.footer__fanpage ul li {
    margin-right: 20px;
    font-size: 20px;
}
.footer__fanpage ul a {
    color: #333;
}
.footer__fanpage ul a:hover {
   opacity: 0.8;
   transition: 0.5s;
}
.footer__contact ul{
    list-style: none;
    padding: 0;
}
.footer__copyright{
    opacity: 0.7;
}