*{ 
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0; 
}
body{
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
.nav{
    width: 100vw;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__wrapper{
    height: 100%;
    width: 100%;
    padding: 50px 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    position: relative;
    z-index: 10000;
}
.logo__group{
    width: 100%;
    height: 100%;
    text-decoration-line: none;
}
.logo__group img{
    width: 190px;
}
.navigate__items{
    list-style: none;
    display: flex;
    text-align: center;
    transform: translateY(3px);
    gap: 28px ;
    padding: 0;
}

.nav__item a{
    text-decoration: none;
    color: #231f1e;
    font-size: 18px;
    font-weight: 400;
}
.navigate__search{
    position: relative;
    
}
.navigate__search input{
    border: 1px solid #231f1e;
    outline: none;
    height: 32px;
    width: 100%;
    padding: 18px 50px 18px 18px;
    border-radius: 20px;
    
}
#search{
     border: 1px solid #231f1e;
    outline: none;
    height: 32px;
    width: 100%;
    padding: 18px 50px 18px 18px;
    border-radius: 20px;
}
.navigate__search i {
    position: absolute;
    top: 10px;
    right: 10%;
}
.nav__right{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.nav__account,.nav__cart{
    color: #231f1e;
    text-decoration-line: none;
    font-size: 1rem;
    font-weight: 500;   
}
.nav__account:hover span, .nav__cart:hover span{
    color: #0079FF;
    transition: all 0.2s;
}
.nav__account{
    margin-right: 26px;
}
.nav__menu{
    visibility: hidden;
}
.dropdown__container{
    width: 90%;
    height: 190px;
    text-align: center;
    display: none;
    animation: slideDown 0.4s ease;
    visibility: hidden;
    background-color: #fff;
    position: relative;
    z-index: 1;
    border-radius: 30px;

}

.dropdown__menu{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 10px;
    width: 100%;
}
.dropdown__element{
    margin-top: 10px;
}
.dropdown__element a{
    color: #231f1e;
    text-decoration: none;
    font-size: 18px;
}

/*footer*/
footer{
    width: 100vw;
    background-color: #f2f2f2;
}
.footer__wrapper{
    padding: 40px 0;
}
.footer__fanpage ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
}
.footer__fanpage ul li {
    margin-right: 20px;
    font-size: 20px;
}
.footer__fanpage ul a {
    color: #333;
}
.footer__fanpage ul a:hover {
   opacity: 0.8;
   transition: 0.5s;
}
.footer__contact ul{
    list-style: none;
    padding: 0;
}
.footer__copyright{
    opacity: 0.7;
}
