
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*profile*/
.info__navigate{
   display: flex;
   align-items: flex-start; 
   margin-top: 20px;
   justify-content: center;
}
.info__navigate ul {
    list-style: none;
    padding: 0 23px;
    height: 300px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.info__navigate ul li {
    background: #fff;
    width: 100%;
    padding: 20px 14px;
    border: 1px #e6e8eb solid;
}
.info__navigate ul li:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.info__navigate ul li:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.info__navigate ul li a{
    color: #3f3f3f;
    font-weight: 400;
}
.info__navigate ul li a i{
    margin-right: 8px;
    color:#0079FF;
}
.info__management{
    border-left: #0079FF 3px solid !important;
}
.container{
    margin-top: 20px;
    border-radius: 10px;
    padding: 30px 50px;
}
body{
    background-color: #f2f2f2;

}
.info__wrapper{
    background-color: #fff;
    margin-left: 0;

}
.general__header{
    margin-bottom: 10px;

}
.general__label{
    margin-bottom: 8px;
}
.general__info{
    font-weight: 500;
    margin-bottom: 8px;
}

.personal__wrapper{

}
.personal__remind{
    color: red;
    opacity: 0.8;
    font-size: 14px;
    font-style: italic;
}
.personal__title{
    font-weight: 500;
}
.personal__group input{
    outline: none;
    padding: 4px 12px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #3f3f3f;
    font-size: 14px;
    height: 34px;
    transition: 0.4s;
}
.personal__group input:focus{
    border: 1px solid #BBE2EC;
}
.personal__country{
    outline: none;
    padding: 4px 12px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #3f3f3f;
    font-size: 14px;
    height: 34px;
}
.personal__country select {

}
.personal__group{
    margin: 10px 0;
}
.personal__group label{
    margin-bottom: 10px;
}
.personal__submit{
    background-color: #0079FF;
    color: #fff;
    border: none;
    border-radius: 14px;
    margin-left: 10px;
    font-size: 14px;
    padding: 10px 20px;
    margin-top: 10px;
    font-weight: 600;
}
.sailor__container{
    height: 678px;
    justify-content: center;
    align-items: center;
}
.sailor{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-left: 130px;
}
.personal__change{
    background-color: #0079FF;
    color: #fff;
    border: none;
    border-radius: 14px;
    margin-left: 10px;
    font-size: 14px;
    padding: 10px 20px;
    margin-top: 10px;
    font-weight: 600;
}
/*deposit*/
.nav_bg{
    background-color: #f3f4f6;
}
.nav_deposit{
    border: 1px;
    border-radius: 0.5rem;
    background-color: #fff;
    padding: 2.5rem;
    margin-top: 1.5rem;
    min-height: 348px;
}